* {
  margin: 0; /*zerar a margem externa dos elementos*/
  padding: 0; /*zerar a margem interna dos elementos*/
}
header {
  /* Vamos adicionar uma imagem de fundo ao cabeçalho */
  background-image: url("../img/cafeteria2.jpg");
  background-position: 0px -300px;
  height: 300px; /*Altura do cabeçalho*/
  transition: ease 1s;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "abel";
  font-size: 40pt;
  padding-top: 100px;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
/* Vamos formatar os elementos de li para ficar 
um ao lado do outro com o comando display */
nav ul li {
  /* Dispor os links um ao lado do outro */
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
/* Alinhar os elementos de link ao centro usando
text-align:center no nav, assim tudo que estiver
dentro do nav irá para o centro */
nav {
  text-align: center;
  margin-top: 92px;
  /* A cor utilizada para o fundo da nav foi o rgba, que 
  significa red green blue e alpha(transparência), onde
   o valor mais próximo do 0(zero) é totalmente transparente e
   quando mais próximo do 1 é totalmente solido. Neste caso 
   estamos usando 80% de solidez, ou seja, aplicamos 
   20% de transparência */
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a {
  color: rgb(100, 0, 0);
  /* para retirar o sublinhado(underline) dos links 
    utilizaremos o comando text-decoration com o valor
    none(nenhum)    */
  text-decoration: none;
  font-family: "Rajdhani";
  /* Aplicação de negrito a letra */
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Criação da formatação do rodapé(footer) */
footer {
  background-color: sandybrown;
  text-align: center;
  color: rgb(200, 0, 0);
  font-family: "abel";
  padding-top: 20px;
  font-weight: bold;
}

div ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
}
div a {
  color: rgb(100, 0, 0);
  text-decoration: none;
}

main {
  /* vamos aplicar uma margem interna de 20px
  Utilizaremos o comando padding */
  padding: 20px;
}

h2 {
  font-family: abel;
  color: rgb(100, 0, 0);
  font-size: 20pt;
  border-bottom: 1px solid rgb(100, 0, 0);
  margin-left: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
}
h3 {
  font-family: abel;
  margin-left: 70px;
  font-size: 15pt;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify;
  /* Aplicaremos um comando que aumenta a altura da linha. Esse efeito 
  simula o espaçamento entre linhas encontrado no Word. O comando é
  line-height -> linha height */
  line-height: 30px;
  margin-bottom: 30px;
  font-family: abel;
  font-size: 13pt;
}

#home {
  text-align: center;
}

#home img {
  height: 300px;
  width: 300px;
  margin: 10px;
  /* Vamos aplicar um efeito de transparência
  com o comando opacity. Onde os valores 1
  é totalmente visível e 0 é totalmente 
  transparente */
  opacity: 0.5;
  border-radius: 50%;
  transition: ease 2s;
}

#home img:hover {
  opacity: 1;
  transform: scale(2);
  cursor: pointer;
  transform: rotateY(360deg);
}

#acafeteria {
  text-align: center;
}
#acafeteria img {
  width: 500px;
  height: 400px;
}
#video {
  text-align: center;
}

/* Abaixo a formatação para a página cardápio */
#container,
#linha,
#imagem,
#texto {
  /* border: 1px solid red; */
}

#container {
  display: inline-block;
}

#linha {
  display: table;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#imagem img {
  width: 200px;
  height: 200px;
}
#imagem {
  width: 200px;
  height: 200px;
  /* Fazer a imagem flutuar para a esquerda */
  float: left;
}
#texto {
  padding: 20px;
  width: 80%;
  float: left;
}
